#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT   0
#define SECONDARY 1
#define FUSION    2
#define BT        3


/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &tog FUSION         &kp C_VOLUME_UP    &lt BT LC(T)    
                &kp C_PREVIOUS      &kp C_PLAY_PAUSE   &kp C_NEXT           
                &lt SECONDARY LC(C) &kp C_VOLUME_DOWN  &kp LC(V)
                         
                
            >;
        }; 

        secondary_layer {
            bindings = <
                & BACKSPACE      &kp ENTER         &kp LC(W)    
                &kp SPACE        &kp LG(SPACE)     &kp LC(V)           
                &trans           &kp LC(X)         &kp LG((LS(S)))
                         
                
            >;
        }; 


        fusion_default_layer {
            bindings = <
                &tog FUSION         &kp E           &kp DEL    
                &kp L               &kp C           &kp P           
                        
                
            >;
        }; 


        bt_layer {
            bindings = <
                &trans             &bootloader     &trans    
                &trans             &trans          &bt BT_CLR     
                &trans             &trans          &bt BT_SEL 0 
                         
                
            >;
        };

    
    };
};


