#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &lt 1 ESC          &kp E           &kp DEL    
                &kp P              &kp C           &kp L           
                &lt 2 M            &kp D           &kp LC(L)
                         
                
            >;
        }; 

        second_layer {
            bindings = <
                &trans             &kp LSHIFT      &kp LC(Z)    
                &kp LC(Y)          &kp A           &trans           
                &lt LC (Q)           &kp LC(P)     &trans
                         
                
            >;
        }; 
        

        bt_layer {
            bindings = <
                &trans     &trans      &bootloader    
                &trans     &trans     &bt BT_CLR     
                &trans     &trans     &bt BT_SEL 0 
                         
                
            >;
        };
    };
};