#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT   0
#define SECONDARY 1
#define FUSION    2
#define FUSION2   3
#define BT        4


/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &tog FUSION                     &kp LC(TAB)           &lt BT LC(T)    
                &kp LG(LEFT_ARROW)              &kp LG(TAB)           &kp LG(RIGHT_ARROW)           
                &lt SECONDARY LC(C)             &kp LC((LS(TAB)))     &kp LC(V)
                         
                
            >;
        }; 

        secondary_layer {
            bindings = <
                &kp LG(LC(RIGHT_ARROW))   &kp ENTER         &kp LC(W)    
                &kp LG(LC(LEFT_ARROW))    &kp LEFT_ARROW    &kp LEFT_ARROW           
                &trans                    &kp LC(F)         &kp LG((LS(S)))
                         
                
            >;
        }; 


        fusion_default_layer {
            bindings = <
                &tog FUSION               &kp E           &kp DEL    
                &kp L                     &kp C           &kp P           
                &lt FUSION2 ESC           &kp LC(L)       &kp LSHIFT
                
            >;
        }; 

        fusion_2nd_layer {
            bindings = <
                &trans              &kp D           &kp M    
                &trans              &kp LC(Z)       &kp F           
                &trans              &kp O           &kp LS(C)
                
            >;
        }; 




        bt_layer {
            bindings = <
                &trans             &bootloader     &trans    
                &trans             &reset          &bt BT_CLR     
                &trans             &trans          &bt BT_SEL 0 
                         
                
            >;
        };

    
    };
};


